<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
  <meta charset="UTF-8">
  <title>마이페이지: 편집영상 제출</title>
  <link rel="stylesheet" th:href="@{/style/applynow_upload.css}">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
</head>

<th:block layout:fragment="content">
  <body>
  <main>
    <nav class="sideBar">
      <ul>
        <div class=menuPart>
          <h2>마이 페이지</h2>
          <li><a th:href="@{myPage}">내 기본정보</a></li>
          <li class="active"><a href="applynow">지원현황 확인</a></li>
          <li><a th:href="@{#}">내 포트폴리오 보기</a></li>

        </div>
        <li><a th:href="@{#}">회원탈퇴 </a></li>
      </ul>
    </nav>

    <div class="main">
      <h3 class="right_info">편집영상 제출</h3>
      <hr class="hr1">
      <div class="box1">
        <div>
          <h1 >제목 :[[${recruitDO.title}]]  </h1>  <!--RECRUIT_TITLE 제목  -->
        </div>
        <hr>
        <div>
          유튜버 정보 들어가는 칸 (이미지/채널명/인증마크) <!--RECRUIT_TITLE -->
        </div>
        <div>
          채널 카테고리 :[[${categories}]]<br>
          마감일 : [[${recruitDO.deadline}]]<br>       <!--DEADLINE 마감일   -->
          직무 : [[${recruitDO.duty}]]<br>              <!--DUTY 직무 -->
          작업량 : [[${recruitDO.workLoad}]]<br>
          자격 요건 :[[${recruitDO.RequireMent}]]<br>
          급여 : [[${recruitDO.salary}]]<br>
          급여 상세 : [[${recruitDO.salaryDetail}]]<br>
          우대 사항 : [[${recruitDO.preference}]]<br> <!-- PREFERENCE 우대사항   -->
          편집 툴 : [[${tools}]]<br>
          근무 환경 : [[${recruitDO.environment}]]<br>   <!--ENVIRONMENT 근무 환경  -->
          복리 후생 : [[${recruitDO.welfare}]]<br>    <!--WELFARE 복리후생 -->
          상세 모집 내용 : [[${recruitDO.recruit_Detail}]] <br>   <!--RECRUIT_DETAIL 상세모집 내용  -->
        </div>
        <br>
        <div>
          Orginal Video link or Channel link <br>
          [[${recruitDO.original_link}]]
        </div>
        <hr />
        <form th:action = "@{/applynow_upload}" method="post">
          <h3>편집 영상: <input type="text" placeholder="링크를 입력하세요" name ="edited_link" required></h3>
          <div class="root">
            <div>
              <input class="input1" type="text" placeholder="구인자에게 하고 싶은 말을 쓰세요 " name = "editor_memo" required>
            </div>
          </div>
          <input type="hidden" th:name="recruitNo" th:value="${recruitDO.recruitNo}"/>
          <button type="submit" class="btn">제출하기</button>
        </form>
      </div>
    </div>
  </main>
  </body>
</th:block>
</html>