<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  <link rel="stylesheet" href="/style/header.css">

  <header>
    <div class="header-container">
      <div class="headerLogo">
        <a href="/main">
          <img src="/img/logo.png" href="#" alt="headerLogo" width="207" height="47">
        </a>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="#">구인글 게시판</a></li>
          <li><a href="#">포트폴리오</a></li>
          <li><a href="#">고객센터</a></li>
        </ul>
      </nav>

      <div th:if="${session.email == null}" class="account">
        <a href="/signup_options">회원가입</a>
        <a href="/login">로그인</a>
      </div>

      <div th:if="${session.email != null}" class = "accountlogin">
        <a  href="#"><span th:text="${session.nickname}"></span>님</a>
        <a  href="/myPage">내 정보보기</a>
        <form  action = "/logout" method = "POST">
          <input type = "submit" class = "logoutButton" value = "로그아웃"/>
        </form>
      </div>


    </div>
  </header>

</th:block>
</html>
