<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>고객센터: Q&A</title>
    <link rel="stylesheet" th:href="@{/style/Q&A.css}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
</head>

<body>

<!--css 수정함-->
    <main>
        <form id="Q&A_board" method="POST" action="/Q&A_board" >
        <h1>Q&A</h1>
        <table class="board_list">
            <div class="paging1">
                <button class="btn" type="submit" id="qaallbtn" >전체보기</button>
                <button class="btn" type="submit" id="qamybtn" >내 문의 확인</button>
                <div class="root">
                    <input class="input1" type="text" name="question" placeholder="문의 내용을 적어주세요(500자 이내)">

                    <button class="btn2" type="submit" id="qabtn" >작성</button>
                </div>
            </div>
            <caption>게시판 목록</caption>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>문의내용</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5</td>
                    <td class="tit">
                        <a href="#">일딴 html만 가는 것이야</a>
                        <!-- 문의 내용   -->
                    </td>
                    <td>고객 이름</td>
                    <!-- 고객 이름이 들어와야 합니다 -->
                    <td>작성-날-짜</td>
                    <!-- 작성 기준 시점 년도/월/일?  -->
                </tr>
                <tr>
                    <td>4</td>
                    <td class="tit">
                        <a href="#">음 .. 이걸 진짜 어떻게 활용을 하지 .</a>
                    </td>
                    <td>고객 이름</td>
                    <td>작성-날-짜</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="tit">
                        <a href="#">이걸 어떻게 활용을 해야 할까요?</a>
                    </td>
                    <td>고객 이름</td>
                    <td>작성-날-짜</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="tit">
                        <a href="#">도용이 아닌데 자꾸 도용이래요</a>
                    </td>
                    <td>고객 이름</td>
                    <td>작성-날-짜</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tit">
                        <a href="#">유튜버가 인증을 안해줘요 </a>
                    </td>
                    <td>고객 이름</td>
                    <td>작성-날-짜</td>
                </tr>
            </tbody>
        </table>
        <div class="paging">
            <a href="#" class="bt">첫 페이지</a>
            <a href="#" class="bt">이전 페이지</a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="bt">다음 페이지</a>
            <a href="#" class="bt">마지막 페이지</a>
        </div>
        </div>
        </form>
    </main>

    <footer>
        <div class="footerContainer">
            <div class="footerLogo">
                <img src="/img/logo_white.png" alt="footerLogo">
            </div>
            <div class="footerInfo">
                <p>Team_i | 팀장 : 배준영 | 팀원 : 김겸손 김경현 김희수 손주현 양서림 장준원 <br />
                    멀티캠퍼스 백엔드 개발자 취업캠프(Java) 7회차 프로젝트 1조 | github : https://github.com/Dinocabbage/team_i-project</p>
            </div>
        </div>
    </footer>
</body>

</html>