<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
    <title>고객센터: 자주 묻는 질문</title>
	<link rel="stylesheet" href="/style/Q&A.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="headerLogo">
                <a href="main.html">
                    <img src="/img/logo.png" href="#" alt="headerLogo" width="207" height="47">
                </a>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="#">구인글 게시판</a></li>
                    <li><a href="#">포트폴리오</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
            </nav>
            <div class="account">
                <a>##님 환영합니다.</a>
                <a href="#">마이 페이지</a>
                <a href="#">로그아웃</a>
            </div>
        </div>
    </header>

    <main>
        <h1>자주 묻는 질문</h1><br />
        <table class="board_list">
            <caption>게시판 목록</caption>
            <tbody>
                <tr>
                    <td class="tit">
                        <a href="#">채널 인증은 어떻게 하나요?</a>
                    </td>
                </tr>
                <tr>
                    <td class="tit">
                        <a href="#">회원 탈퇴를 하고싶어요.</a>
                    </td>
                </tr>
                <tr>
                    <td class="tit">
                        <a href="#">포트폴리오를 등록하고 싶어요.</a>
                    </td>
                </tr>
                <tr>
                    <td class="tit">
                        <a href="#">포트폴리오 템플릿을 판매하고 싶어요</a>
                    </td>
                </tr>
                <tr>
                    <td class="tit">
                        <a href="#">포트폴리오 템플릿을 구매하고 싶어요</a>
                    </td>
                </tr>
				<tr>
                    <td class="tit">
                        <a href="#">제가 원하는 유튜버의 공고만 검색하고 싶어요.</a>
                    </td>
                </tr>
				<tr>
                    <td class="tit">
                        <a href="#">포트폴리오 템플릿을 구매하고 싶어요</a>
                    </td>
                </tr>
				<tr>
                    <td class="tit">
                        <a href="#">공고에 지원은 어떻게 하나요?</a>
                    </td>
                </tr>
				<tr>
                    <td class="tit">
                        <a href="#">판매 수익은 어떻게 정산하나요?</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="paging">
            <a href="#" class="bt">첫 페이지</a>
            <a href="#" class="bt">이전 페이지</a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="bt">다음 페이지</a>
            <a href="#" class="bt">마지막 페이지</a>
        </div>
        </div>
    </main>

    <footer>
        <div class="footerContainer">
            <div class="footerLogo">
                <img src="/img/logo_white.png" alt="footerLogo">
            </div>
            <div class="footerInfo">
                <p>Team_i | 팀장 : 배준영 | 팀원 : 김겸손 김경현 김희수 손주현 양서림 장준원 <br />
                    멀티캠퍼스 백엔드 개발자 취업캠프(Java) 7회차 프로젝트 1조 | github : https://github.com/Dinocabbage/team_i-project</p>
            </div>
        </div>
    </footer>
</body>
</html> 