<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
    <meta charset="UTF-8">
    <title>구인글 게시판</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style/recruit_board.css}">
    <script th:inline="javascript">
        function check(e){
            var usertype = [[${session.type}]];

            if(usertype == null){
                alert("로그인 후 이용 가능합니다.");
                e.preventDefault();
                return false;
            }
            else if(usertype == "편집자"){
                alert("유튜버만 이용가능한 서비스입니다.");
                e.preventDefault();
                return false;
            }
        }
        var Msg = [[${msg}]];
        if (Msg != null){
            alert(Msg);
        }
    </script>
</head>
<th:block layout:fragment="content">

<body>

<main>
    <div class="board_list_wrap">
        <h1><input class="search" placeholder="검색어를 입력하세요"></h1>
        <hr />
        <div>· 구독자 수 : <input type="number" class="search1" placeholder="구독자수를 입력하세요"></div>
        <div>· 급여 : <input type="number" class="search1" placeholder="금액을 입력하세요"></div>
        <div>· 근무 지역 : <input class="search2" placeholder="지역을 입력하세요"></div>
        <div class="filters">
            <b>· 편집 툴 : </b>
            <label for="premier-pro">프리미어 프로</label>
            <input type="checkbox" name="editing-tools" id="premier-pro">
            <label for="after-effects">애프터 이펙트</label>
            <input type="checkbox" name="editing-tools" id="after-effects">
            <label for="vegas">베가스</label>
            <input type="checkbox" name="editing-tools" id="vegas">
            <label for="final-cut">파이널 컷</label>
            <input type="checkbox" name="editing-tools" id="final-cut">
            <label for="power-director">파워디렉터</label>
            <input type="checkbox" name="editing-tools" id="power-director">
            <label for="photoshop">포토샵</label>
            <input type="checkbox" name="editing-tools" id="photoshop">
            <label for="illustrator">일러스트</label>
            <input type="checkbox" name="editing-tools" id="illustrator">
            <label for="maya">MaYa</label>
            <input type="checkbox" name="editing-tools" id="maya">
            <label for="blender">Blender</label>
            <input type="checkbox" name="editing-tools" id="blender">
        </div>
        <hr />
        <table class="board_list">

            <caption>게시판 목록</caption>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>모집기간</th>
                <th>채널명</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="recruitDO : ${recruitDO}">

                <td>[[${recruitDO.recruitNo}]]</td>
                <td ><a th:href="@{/recruit_result(recruitNo= ${recruitDO.recruitNo})}">[[${recruitDO.title}]] </a></td>
                <td>[[${recruitDO.deadline}]]</td>
                <td>[[${recruitDO.email}]]</td>
            </tbody>
        </table>

        <div class="paging">
            <a th:href="@{/recruit_board(page=1)}" th:class="${currentPage == 1} ? 'bt disabled' : 'bt'"><<</a>
            <a th:href="@{/recruit_board(page=${currentPage != 1 ? currentPage - 1 : currentPage})}" th:class="${currentPage == 1} ? 'bt disabled' : 'bt'"><</a>

            <th:block th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
                <a th:href="@{/recruit_board(page=${pageNumber})}" th:class="${pageNumber == currentPage} ? 'num on' : 'num'">
                    [[${pageNumber}]]
                </a>
            </th:block>

            <a th:href="@{/recruit_board(page=${currentPage != totalPages ? currentPage + 1 : currentPage})}" th:class="${currentPage == totalPages} ? 'bt disabled' : 'bt'">></a>
            <a th:href="@{/recruit_board(page=${totalPages})}" th:class="${currentPage == totalPages} ? 'bt disabled' : 'bt'">>></a>
        </div>
        <div class="paging1">
            <a th:href="@{/recruit_board_edit}" class="bt" th:text="|구인글 작성|" th:onclick="check(event)"></a>
        </div>


    </div>
</main>


</body>
</th:block>
</html>