<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/style/login.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-container">
      <div class="headerLogo">
        <a href="main.html">
          <img src="/img/logo.png" href="#" alt="headerLogo" width="207" height="47">
        </a>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="#">구인글 게시판</a></li>
          <li><a href="#">포트폴리오</a></li>
          <li><a href="#">고객센터</a></li>
        </ul>
      </nav>
      <div class="account">
        <a href="/signup_options">회원가입</a>
        <a href="/login">로그인</a>
      </div>
    </div>
  </header>

  <main>
    <form method="post" action = "/login" id="loginForm" name="loginForm" >
      <h1 class="loginText">로그인</h1>
      <div class=box>
        <div class=totalBox>
          <span class="titleText">아이디</span>
          <span class=inputBox>
            <input type="email" id="email" class="email" name="email" placeholder="email@editube.com" required>
          </span>
        </div>
      </div>

      <div class=box>
        <div class=totalBox>
          <span class="titleText">비밀번호</span>
          <span class="inputBox"><input type="password" id="password"  name="password" class="password" placeholder="••••••••" required>
          </span>
        </div>
      </div>
      <button type="submit" class=loginButton>로그인</button>
      <div class=moveNextPage>
        <ul>
          <li><a href="/signup_options">회원가입</a></li>
          <li><a href="/">아이디 찾기</a></li>
          <li><a href="/">비밀번호 찾기</a></li>
        </ul>
      </div>
    </form>
  </main>

  <footer>
    <div class="footerContainer">
      <div class="footerLogo">
        <img src="/img/logo_white.png" alt="footerLogo">
      </div>
      <div class="footerInfo">
        <p>Team_i | 팀장 : 배준영 | 팀원 : 김겸손 김경현 김희수 손주현 양서림 장준원 <br />
          멀티캠퍼스 백엔드 개발자 취업캠프(Java) 7회차 프로젝트 1조 | github : https://github.com/Dinocabbage/team_i-project</p>
      </div>
    </div>
  </footer>
  
</body>

</html>